@model Actividades.Models.periodo

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>periodo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre_corto" class="control-label"></label>
                <input asp-for="nombre_corto" class="form-control" />
                <span asp-validation-for="nombre_corto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_largo" class="control-label"></label>
                <input asp-for="nombre_largo" class="form-control" />
                <span asp-validation-for="nombre_largo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_inicio" class="control-label"></label>
                <input asp-for="fecha_inicio" class="form-control" />
                <span asp-validation-for="fecha_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_fin" class="control-label"></label>
                <input asp-for="fecha_fin" class="form-control" />
                <span asp-validation-for="fecha_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estatus" class="control-label"></label>
                <input asp-for="estatus" class="form-control" />
                <span asp-validation-for="estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
